<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Your elm app!</title>
  <style type="text/css">{{core-css}}</style>
  <link rel="stylesheet" type="text/css" href="/styles/app.css">
</head>
<body>
  <script type="text/javascript" src="/elm.js"></script>
  <script type="text/javascript" src="/index.js"></script>
</body>
</html>
