@import "welcome-message.css";

.main {
  padding: 20px 0;
  max-width: 1024px;
  width: 90%;
  background: #fff;
  min-height: 100%;
  margin: 0 auto;
}

.main__padded {
  padding: 0 20px;
}

.title {
  font-size: 24px;
}
